<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Авторизация</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Логин">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Пароль">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Войти</button>
      
    </form>
    <a routerLink="../register" class="btn btn-link">Нет аккаунта?</a>
  </mat-card>

</div>
