<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Регистрация</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Фамилия">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Имя">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Отчество">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Дата рождения">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Серия номер паспорта">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-mail">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Логин">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Пароль">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Повторте пароль">
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="primary" class="btn-block">Зарегистрироваться</button>
    </form>
    <a routerLink="/login" class="btn btn-link">Уже есть аккаунт?</a>
  </mat-card>
</div>
